/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
fieldset,img { 
	border:0;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
/* reset end */

/* clearfix */
.clearfix {
    display: inline-table;
}
.clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* clearfix end */

/* common */
a,
a.visited,
a.hover,
a.active {
    color: #07C;
    text-decoration: none;
}
body {
    width: 160px;
    padding-bottom: 5px;
    background:rgb(235, 235, 235);
}
/* common end */
